<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wooyun Node</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="http://cdn.staticfile.org/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://oevuw60db.bkt.clouddn.com/grids-responsive-min.css">
    <link rel="stylesheet" href="http://172.16.6.136:9999/search/{{page}}.css">
</head>
<body>
    {{{body}}}
    <script src="http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://172.16.6.136:9999/search/{{page}}.js"></script>
</body>
</html>