<div class="result-page">
    <h1>关键词【{{content}}】的搜索结果：共<span id="count"></span>条 <a href="/" class="nav-back">返回首页</a></h1>

    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>提交时间</th>
                <th>标题</th>
                <th>漏洞类型</th>
                <th>作者</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <footer id="page-index"></footer>
</div>