<section class="search-index">
    <h1 class="title">Wooyun Search</h1>

    <form class="pure-form">
        <div class="pure-g">
            <div class="pure-u-1-5 type-wrap">
                <select name="type" id="typechoose"></select>
            </div>

            <input type="text" id="content" class="pure-u-3-5">

            <div class="pure-u-1-5 button-wrap">
                <button id="submit" class="pure-button pure-button-primary submit">woo!</button>
            </div>
        </div>
    </form>
</section>